body {
    font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
    color:#757575;
    font-size: 14px;
    letter-spacing: 0.03em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    display: block;
}

img {
    display: block;
}

address {
    font-style: normal;
}

/* ---Навігація сайту---- */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}


/*---Header---*/
/*---Лого---*/
.list {
  list-style: none;
  text-decoration: none;
}


.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.logo-header {
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196F3;
}

/*---------навігація сайту------------*/


.conteiner-header {
  display: flex;
  align-items: center;

}

.header-nav {
  display: flex;
  
}

.nav-header {
  margin-right: auto;
}


.header-nav {
  gap: 50px;
  margin-right: auto;
}

.header-nav-link {
  display: block;

  color: #212121;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;

}


/*---Авторизація навігації---*/
.current {
  color: #2196F3;
}
.header-nav-link:hover,
.header-nav-link:focus{
  color: #2196F3;
}
.auth-nav {
  display: flex;

  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
}



.auth-nav .item + .item {
  margin-left: 50px;
}

.item .auth-nav-link {
  display: flex;
  align-items: center;
}


.auth-nav-link {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}


.auth-nav-link:hover,
.auth-nav-link:focus {
  color: #2196F3;
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}




/*---Main---*/



.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.promo {
    
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(to right,rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    background-position: center;
    margin: auto;
    background-size: cover;
    
    
}

.hero-title {
    width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;


}

.btn {
    min-width: 216px;
    height: 50px;
    display: block;
    margin: 0 auto;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background:#2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:#ffffff;
    font-size: 16px;
    line-height: 1.8750;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn:hover,
.btn:focus {
    background:#188CE8;
    color:#ffffff;
}


/*---Підхід до роботи---*/
.list-0 {
    display: flex;
}
.list-0>li {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
 
}

.list-0 li:last-child {
    margin-right: 0;
}



.features {
    color:#212121;
    line-height: 1.1428;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list {
    line-height: 1.7142;
    color:#757575;
}
.features-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    height: 120px;
}


/*---Чим ми займаємось---*/


.section-title {
    padding-top: 0;
}

.title {
    margin-bottom: 50px;

    color:#212121;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
}

.list-li {
    display: flex;
    gap: 30px;

}


/*---Наша Команда---*/

.section-team {
    background-color:#F5F4FA;
}

.team>li {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.card-description {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.team-list {
    margin-bottom: 10px;

    color:#212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
}

.list-p {

    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color:#757575;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    margin-right: 0;
    

}

.social-item {
    width: 44px;
    height: 44px;

}

.social-links {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #AFB1B8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    fill: currentColor;
}

.social-icon:hover,
.social-icon:focus {
    fill: #ffffff;
    color: #FFFFFF;
}

.social-links:hover,
.social-links:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    fill: white;
}

.social-links:hover .social-icon,
.social-links:focus .social-icon {
    fill: #ffffff;
    color: #FFFFFF;
}

/*---Постійні клієнти---*/




.clients-list {
    display: flex;
}

.client-item {
    width: 170px;
    height: 92px;
}

.clients-list>.client-item{
    flex-basis: calc((100% - 150px) / 6);
        margin-right: 30px;
}

.clients-list>.client-item:last-child {
    
    margin-right: 0;
}

.client-links {
    width: 100%;
    height: 100%;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-icon {
    fill: currentColor;

}

.client-icon:hover,
.client-icon:focus {
    color: #2196F3;
}

.client-links:hover,
.client-links:focus {
    color: #2196F3;
    border: 1px solid #2196F3;
}

.client-links:hover .client-icon,
.client-links:focus .client-icon {
    color: #2196F3;
    fill: #2196F3;
}




/*---Футер---*/


.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
    text-decoration: none;

}

.container-footer {
    align-items: baseline;
    display: flex;
}

.logo-link {
    margin-bottom: 20px;
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 26px;
    line-height: 1.1923;
    text-decoration: none;
}

.logo-footer {
    font-size: 26px;
    line-height: 1.1923;
    color: #2196F3;

}

.address {
    list-style: none;
}

.address li:not(:last-child) {
    margin-bottom: 9px;
    line-height: 1.7142;
        color: #ffffff;
        text-decoration: none;
        font-style: normal;
}


.contact:hover,
.contact:focus {
    color: #2196F3;
}

.contact {
    line-height: 1.7142;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.social-block {
    align-items: center;
    margin-left: 70px;
}

.social-footer {
    display: block;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.1428;
    text-transform: uppercase;
}

.social-footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-footer-item {
    width: 44px;
    height: 44px;

}

.social-footer-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-footer-icon {
    fill: currentColor;
}


.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #2196F3;

}


/*---Портфоліо----*/
/*---Кнопки фільтрів---*/


.portfolio-list {
    padding-top: 94px;
    padding-bottom: 94px;

}

.btn-filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6250;
    text-align: center;
    letter-spacing: 0.03em;
    color:#212121;

    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;

}

.btn-filter li:not(:last-child) {
    margin-right: 8px;
}

.btn-active {
    padding: 6px 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6250;
    text-align: center;
    letter-spacing: 0.03em;
    color:#212121;
    background:#F5F4FA;
    border-radius: 4px;

}

.btn-active:hover,
.btn-active:focus {
    color:#ffffff;
    background:#2196F3;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*---Проєкти---*/


.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list li {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.projects-list li:nth-child(3n) {
    margin-right: 0;
}
.projects-list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.projects-list a{
    display: block;
}



.projects-border {
    padding: 20px 24px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.projects-title {
    margin-bottom: 4px;

    color:#212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-text {
    font-size: 16px;
    line-height: 1.8750;
    color:#757575;
}


.projects-list a:hover,
.projects-list a:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}